<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Backend</title>
</head>

<body>
    <div class="container">

        <h1>
            Welcome to this Flask App!
        </h1>
        <p class="text">
            This is a simple Flask app that I created to learn more about pythons backend capabilities.
            ill try to add more things to this app as I learn more about Flask and backend development.
            <br>
            <br>
            (If i remember to do so, that is lol.)
            <br>
            <br>
            PD: I am used to working with Express.js, so this is a bit different for me,
            and the code might not be the best, but I am learning and trying to improve :).
            And also you will mostly see backend here no frontend I just created this file
            to experiment/learn how to render html files with flask.
        </p>

        <a href="#" class="btn">
            FOR FRONTEND CLICK HERE
        </a>

    </div>
</body>

</html>